.Landing {
  display: flex;
  flex-direction: column;
  border: 1px solid #ae84d9;

  height: 90vh;
}

.Landing button {
  border-radius: 16px;
  border: 0;
  justify-content: center;
  width: 18em;
  font-size: 1em;
  padding: 9px 20px;
  color: white;
  background-color: #5e5de4;
}

.TopHalf {
  background-color: #eee;
  background-image: url("../../assets/img/awan.png"),
    url("../../assets/img/awan2.png");
  background-position: bottom right, top left;
  background-repeat: no-repeat;
  background-size: 50%, 30px;
  padding: 5% 0 5% 10%;
  text-align: left;
}

.TopHalf strong {
  font-size: 24px;
}

.TopHalf p {
  white-space: pre-line;
  line-height: 2em;
}

.TopHalf button {
}

.BottomHalf {
  background-color: white;
}

.Features {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

.Features h3 {
  width: 100vw;
}

.Features li {
  width: 100%;
}
