.Webinar {
  /* --width: 50%; */

  border: 1px solid rgba(230, 215, 215, 0.897);
  box-shadow: 2px 3px rgb(238, 227, 227);
  width: 25em;
  /* height: 25em; */

  margin: 0 1em 2em 1em;
  border-radius: 5%;
}

.UpperPart {
  display: flex;
  /* flex-wrap: wrap; */
}

.Poster {
  /* max-width: 200px; */
  box-sizing: border-box;
  width: 50%;
  max-height: 15em;
  object-fit: cover;
  padding: 0.5em;
  border-radius: 10%;
  margin-left: 0.5em;
}

.Info {
  width: 100%;
  text-align: left;
  font-size: 1em;
}

.Info .Container {
  text-align: center;
}

.Info .Container button {
  margin: auto;
  width: 80%;
  height: 1.5em;
  padding: 0.2em 0.8em;
  font-size: 0.8em;
}

.Host {
  /* margin: 1em; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Host .Profile {
  display: table;
  padding-left: 1em;
}

.Host .Profile strong {
  padding-left: 0.5em;
  display: table-cell;
  vertical-align: middle;
}

.Host button {
  background-color: #169bd5;
  border-radius: 8%;
  margin-right: 1em;
  width: 8em;
  height: 2em;
  font-size: 0.8em;
}

.Host img {
  background-color: white;
  object-fit: cover;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
