.Slider {
  margin: auto;
  margin-top: 5em;
  width: 90%;
  /* background-color: black; */
}

.Slide {
  justify-content: center;
  width: auto;
}

.SliderButton {
  background-color: blue;
  background: blue;
  display: "block";
}
