.TopBar {
  position: fixed;
  width: 100%;    
  /* z-index: 1; */
  display: flex;
  align-items: center;
  height: 10vh;
  box-sizing: border-box;
  padding: 0 60px;
  background-color: white;
}

.TopBar.scrolled {
  background-color: #141414;
  transition: background-color 200ms linear;
}

.TopBar a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.Navigation nav {
  height: 100%;
}

.LogoContainer {
  font-size: 20px;
  color: white;
}

.LogoContainer img {
  width: 40px;
  height: auto;
  margin-right: 12px;
}

@media (max-width: 499px) {
  .DesktopOnly {
      display: none;
  }
}