.TopBar {
  position: fixed;
  width: 100%;
  top: 0;
  /* border: 1px transparent black; */
  box-shadow: 0 2px 2px -0.5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  height: 10%;
  box-sizing: border-box;
  padding: 0 60px;
  background-color: white;
}

.TopBar.scrolled {
  background-color: #141414;
  transition: background-color 200ms linear;
}

.TopBar a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.Navigation nav {
  height: 100%;
}

.LogoContainer {
  /* width: 5em; */
  display: flex;
}

.LogoContainer img {
  object-fit: scale-down;
  width: 4em;
  margin-right: 1em;
}

.LogoContainer p {
  font-size: 1.3em;
  font-weight: 100;
  width: 100%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
